<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.simple.basic.service.board.BoardMapper">
  
  	<insert id="register" parameterType="com.simple.basic.command.BoardVO">
  		INSERT INTO SBOARD(NUM, NAME, TITLE, CONTENT) 
  		VALUES(SBOARD_SEQ.NEXTVAL, #{name}, #{title}, #{content} ) 
  	</insert>
  	
  	<select id="getBoard" resultType="com.simple.basic.command.BoardVO">
  		select * from SBOARD order by num asc
  	</select>
  	
  	<delete id="delete" parameterType="int">
  		delete from SBOARD where num = #{num}
  	</delete>
  
  </mapper>